<h1>Welcome to ESpY</h1>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider1.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Food</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider2.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>And</h3>
    </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider3.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>More</h3>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @posts, :container => false %>
</div>
<% @places.each do | place | %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p>
        <% if place.photos.last.present? %>
        <br/>
        <h2><%= place.photos.last.caption %></h2>
        <%= image_tag place.photos.last.picture, class: 'index-picture'%>
        <br/>
        <% end %>
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

          <% if place.comments.present? %>
          <div class="col-12">
            <blockquote>
              <% if place.comments.last.humanized_rating %>
                  <b><%= place.comments.last.humanized_rating %></b> -
              <% end %>
              <%= place.comments.last.message %>
              <small>Left by: <%= place.comments.last.user.email %></small>
            </blockquote>
          </div>
        <% end %>

    </div>

<% end %>


